html{
    background-color: #636e72;
    text-align-last: center;
}
.border{
    border: 5px solid black;
    border-radius: 50%;
    background-color: #00cec9;
  
}
.obasity{
    color: #EA2027;
    font-size: 60px;
    font-weight: bolder;
}

.container1{
    width: 60%;
    margin: 30px 20%;
}
.split{
    width: 50%;
    overflow-x: hidden;
    z-index: 1;
    line-height: 0.2;
    top: 0;
}
.left{
    background-color: #FFC312;
    margin-left: 0;
    left: 0;
    float: left;
    border: none;
}
.left1{
    margin-left: 0;
    left: 0;
    float: left;
    border: none;
}
.right1{
    margin-right: 0;
    right: 0;
    float: right;
    border: none;
}
.right{
    background-color: #12CBC4;
    margin-right: 0;
    right: 0;
    float: right;
    border: none;
}